 <div class="bg-banner-img " style="background-image:url({{file_url(content.field_ba['#items'].entity.uri.value | image_style('banner'))}});">
  <div class="overlay-all">
      <section id="banner" class=" mb-90">
                     <div class="container ">
                        <div class="row">
                           <!-- #banner-text start -->            
                           <div id="banner-text" class="col-md-7 text-c text-left ">
                              <h5 class="wow fadeInUp main-h" data-wow-delay="0.2s" >{{content.field_title.0}}<br> {{content.field_subtitle.0}}</h5>
                              <p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s">{{content.field_description.0}}</p>
                              <div class="top-banner wow fadeInRight">
                                 <a  href="{{ content.field_button.0['#url'] }}" class="btn btn-default  wow fadeInUp  js-scroll-trigger" data-wow-delay=" 0.5s" href="#"><span class="skew_14">{{ content.field_button.0['#title'] }}</span></a>
                              </div>
                           </div>
                           <div class=" col-md-5">
                              <div class="video-imgs">
                                 <a href="{{content.field_url.0}}" class="popup-youtube"><img  src="{{file_url(content.field_icon['#items'].entity.uri.value)}}"></a>
                              </div>
                           </div>
                           <!-- /#banner-text End -->
                        </div>
                     </div>
                  </section>
   </div>
   <div class="container-fluid p0 banner-shap-img">
   </div>
</div>


