<!-- #About Us Area start -->
         <div  id="about"  class=" py-70 pb_90">
            <div class="container About-right-bg-img "  style="background-image:url({{file_url(content.field_background_image['#items'].entity.uri.value)}});">
               <div class="row text-left  ">
                  <div class="col-md-7">
                     <div class="about_left_text wow fadeInUp">
                        <h1>{{content.field_title.0}}</h1>
                        <p>{{content.field_descriptions.0}}</p>
                        <div class="top-about wow fadeInRight wow fadeInUp">
                           <a id="#services"  href="{{ content.field_button.0['#url'] }}" class="btn btn-default btn_text_cap btn_bg_f button_py_12   wow fadeInUp  js-scroll-trigger" data-wow-delay=" 0.5s" href="#"><span class="skew_14">{{ content.field_button.0['#title'] }}</span></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-5">
                  </div>
               </div>
            </div>
         </div>
<!-- #About Us Area End -->