<!-- #PRICING_tabel  Area start -->
      <div  id="about"  class=" back-right-text-c">
         <div class="container wow fadeInUp">
            <div class="row text-center mb-60 ">
               <div class="title wow fadeInUp">
                  <h3>{{content.field_title.0}}</h3>
                  <h1>{{content.field_subtitle.0}} </h1>
                  <p class="about_bottom_h mt-50   ">{{content.field_description.0}}</p>
               </div>
            </div>
            <!-- #radio radio-primary  Area start -->
            <div class="row mt_table_button_100">
               <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                  <div class="radio radio-primary">
                     <input type="radio" name="radio1" id="radio1" value="option1" class="tabs_label active_t">
                     <label for="radio1">
                     {{content.field_category.0}}
                     </label>
                  </div>
               </div>
               
            </div>
            <!-- #End radio radio-primary  Area start -->
         </div>
         <!-- #Start STARTER EDITION  Area start -->
         <div class="container-fluid">
            <div class="col-md-3"></div>
            <div class="col-md-9">
               <div class="bg_bottom_table"></div>
            </div>
         </div>
         <div class="container bg_top_table">
            <div class="row wow fadeInUp  ">
                 {{content.field_pricing_plan }}
           
            </div>
         </div>
      </div>
      <!-- #End tabel Area start -->