<!--start Hey title Area-right_img -->
      <section class="our-customer">
         <div class="container-fluid ">
            <div class="row text-left about_row_2 clip-polygon_right_2" style="background-image:url({{file_url(content.field_ba['#items'].entity.uri.value)}});">
               <div class="col-md-5 p-0 clip-polygon_left_2 wow fadeInUp">
                  <div class="video-img">
                  </div>
               </div>
               <div class="col-md-7 wow fadeInUp  pl_90 pr_90">
                  <p class="about_h wow fadeInUp " data-wow-delay=" 0.5s" style="visibility: visible; animation-name: fadeInRight;">{{content.field_title.0}}</p>
                  <p class="about_bottom_h wow fadeInUp " data-wow-delay=" 0.5s" style="visibility: visible; animation-delay:  0.5s; animation-name: fadeInUp;">{{content.field_description.0}}</p>
                  <div class="left-services wow fadeInRight text-right" style="visibility: visible; animation-name: fadeInRight;">
                     <a id="#services" href="{{ content.field_button.0['#url'] }}" class="btn btn-default  wow fadeInUp  js-scroll-trigger" data-wow-delay=" 0.5s" style="visibility: visible; animation-delay:  0.5s; animation-name: fadeInUp;"><span class="skew_14">{{ content.field_button.0['#title'] }}</span></a>
                  </div>
               </div>
            </div>
         </div>
      </section>
<!--End Hey title Area-right_img -->