<div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                  <div class="service-Team">
                     <div class="servise-top wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}">
                     </div>
                     <h2 class="unify_about"> {{content.field_title.0}} </h2>
                     <h2 class="unify_about"> {{content.field_subtitle.0}} </h2>
                     <p class="bottom-s">{{content.field_description.0}}</p>
                     <div class="bigpixi-Team-social">
                     {% if content.field_fb|render|trim is not empty%}
                        <a href="{{content.field_fb.0}}" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                     {% endif %}
                     {% if content.field_twitter_link|render|trim is not empty %}
                        <a href="{{content.field_twitter_link.0}}" target="_blank"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                     {% endif %}
                     {% if content.field_insta_link|render|trim is not empty %}
                        <a href="{{content.field_insta_link.0}}" target="_blank"><i id="social-em" class="fa fa-instagram fa-3x social"></i></a>
                     {% endif %}
                     </div>
                  </div>
               </div>