    <div class="col-md-4 col-sm-6  wow fadeInUp ">
                  <div class="pricingTable ">
                     <div class="pricingTable-header">
                        <h3 class="heading_top ">{{content.field_title.0}}</h3>
                        <div  class="currency_month">
                           <span class="price-value">
                           <span class="currency"></span>{{content.field_price.0}}
                           </span>
                           <h3 class="heading">{{content.field_subtitle.0}}</h3>
                        </div>                        
                     </div>
                     <div class="pricing-content">
                        <h2 class="tabel-color">  {{content.field_category.0}}  </h2>
                        <ul>

                           <li>{{content.field_details }}</li>
                           
                        </ul>
                        <a href="{{ content.field_button.0['#url'] }}" class="btn-default"><span class="skew_14">
                        {{ content.field_button.0['#title'] }}</span></a>
                     </div>
                  </div>
               </div>